$fontBase: "Lato", sans-serif;
$imgPath: "../images/";
$redLight: #f16d7f;
@mixin offer($_height,$_background,$_margin:auto){
    width:560px;
    height:$_height;
    background:url(#{$imgPath}#{$_background})no-repeat;
    margin:$_margin;
}

%flex{
    display: flex;
}
%Flexjcc{
    justify-content:center;
}
%Flexjcsb{
    justify-content:space-between;
}
%Flexaic{
    align-items:center;
}
%fjcc{
    @extend %flex;
    @extend %Flexjcc;
}
%fjcsb{
    @extend %flex;
    @extend %Flexjcsb;
}
%faic{
    @extend %flex;
    @extend %Flexaic;
}
%faicJcc{
    @extend %flex;
    @extend %Flexaic;
    @extend %Flexjcc;
}
%faicJcsb{
    @extend %flex;
    @extend %Flexaic;
    @extend %Flexjcsb;
}