@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
.cart-detail__features, .offers, .cards .cardsContainer, .subscribe-wrapp .container, .subscribe__input-wrapp, .footer .container, .copyright .container, .product-list__btns, .order, .cart-detail__options, .headerInside, .searchWrap, .topBannerContent, .bottomBannerSignWrapp, .subscribe__review-wrapp, .subscribe__form-wrapp, .copyright__social-wrapp, .newArrivalsWrap, .product-list__tr, .topNav, .cards .cardPhotoWrapp, .cart-detail__img-inner, .newArrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-detail__features, .topNav, .cards .cardPhotoWrapp, .cart-detail__img-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers, .cards .cardsContainer, .subscribe-wrapp .container, .subscribe__input-wrapp, .footer .container, .copyright .container, .product-list__btns, .order, .cart-detail__options, .newArrivals {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerInside, .searchWrap, .topBannerContent, .bottomBannerSignWrapp, .subscribe__review-wrapp, .subscribe__form-wrapp, .copyright__social-wrapp, .newArrivalsWrap, .product-list__tr, .topNav, .cards .cardPhotoWrapp, .cart-detail__img-inner, .newArrivals {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* ++H E A D E R */
.headerInside {
  height: 100px;
}

.logo {
  width: 167px;
  line-height: 52px;
  background: url(../images/logo.png) no-repeat;
  font-size: 27px;
  font-weight: 300;
  padding-left: 75px;
  margin-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo span {
  color: #f16d7f;
  font-weight: 400;
}

.searchWrap {
  height: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
}

.searchWrap input::-webkit-input-placeholder {
  color: #a4a4a4;
}

.searchWrap input:-ms-input-placeholder {
  color: #a4a4a4;
}

.searchWrap input::-ms-input-placeholder {
  color: #a4a4a4;
}

.searchWrap input::placeholder {
  color: #a4a4a4;
}

.searchWrap input {
  height: inherit;
  padding: 0 16px;
  border: none;
  outline: none;
}

.searchWrap button {
  cursor: pointer;
  height: inherit;
  padding: 0 12px;
  border: 0;
  background: none;
  border-left: 1px solid #e6e6e6;
}

.searchWrap button i {
  color: #a4a4a4;
}

.searchBrowse {
  cursor: pointer;
  height: inherit;
  padding: 0 12px;
  line-height: 36px;
  font-size: 14px;
  color: #222222;
  background-color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #e6e6e6;
}

.searchBrowse i {
  color: #838383;
}

.headerCart {
  margin-left: auto;
  margin-right: 25px;
}

.accountBtn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 10px 15px 10px 20px;
  background-color: #f16d7f;
  color: white;
  border: none;
  cursor: pointer;
}

.accountBtn:hover {
  background-color: #ed3e56;
}

.accountBtn i {
  margin-left: 7px;
}

.topNav {
  border-top: 1px solid #ececec;
  height: 50px;
}

.topNav a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #222222;
  position: relative;
}

.topNav a:not(:last-child) {
  margin-right: 45px;
}

.topNav a:hover {
  color: #f16d7f;
}

.topNav .act:before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: -17px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ef5b70;
  margin: 0 -10px;
}

/* --H E A D E R */
/* ++I N D E X */
.topBannerWrap {
  height: 610px;
  background-color: #e8e8e8;
}

.topBannerContent {
  height: inherit;
  background: url(../images/topHeaderBack.png) no-repeat 554px 0;
  background-size: 550px;
}

.topBannerSign {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.topBannerSign div:first-child {
  font-weight: 900;
  font-size: 60px;
  line-height: 43px;
}

.topBannerSign div:last-child {
  font-size: 38px;
  line-height: 32px;
  margin-top: 19px;
}

.offers {
  margin: 100px auto 95px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 823px;
}

.offers > div {
  position: relative;
}

.offers > div:first-child {
  margin-bottom: 20px;
  margin-right: 20px;
}

.offers .label {
  position: absolute;
  top: 25px;
  padding: 15px 20px;
  background: white;
  text-transform: uppercase;
}

.offer1 {
  width: 560px;
  height: 542px;
  background: url(../images/offer1.jpg) no-repeat;
  margin: 0 20px 20px 0;
}

.offer2 {
  width: 560px;
  height: 261px;
  background: url(../images/offer2.jpg) no-repeat;
  margin: 0 20px 0 0;
}

.offer3 {
  width: 560px;
  height: 261px;
  background: url(../images/offer3.jpg) no-repeat;
  margin: 0 0 20px 0;
}

.offer4 {
  width: 560px;
  height: 542px;
  background: url(../images/offer4.jpg) no-repeat;
  margin: auto;
}

.labelTop {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
}

.labelBottom {
  font-size: 30px;
  color: #f16d7f;
  font-weight: 900;
}

.cards {
  margin-bottom: 110px;
}

.cards .cardsContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .cardInner {
  margin: 0 15px 20px;
}

.cards .card {
  width: 23%;
  margin-bottom: 40px;
}

.cards .card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.cards .card:hover .cardPhotoWrapp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.83);
}

.cards .card:hover .btn {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 11px 15px 11px 45px;
  background: url(../images/cart-white.png) no-repeat left 12px center;
  border: 1px solid #fff;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.cards .heading {
  font-size: 30px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 13px;
  text-align: center;
}

.cards .heading_grey {
  color: #4d4d4d;
  margin: 0 0 70px;
  font-weight: 900;
}

.cards .headingCard {
  font-size: 13px;
  margin-bottom: 15px;
}

.cards .headingLink {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
}

.cards .headingLink_grey {
  color: #6f6e6e;
}

.cards .text {
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 55px;
}

.cards .cardPhotoWrapp {
  position: relative;
  margin-bottom: 18px;
  height: 280px;
  background: #e9e9e9;
}

.cards .cardPhoto {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.cards .btn {
  display: none;
}

.cards .cost {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
}

.cards .linkWrapp {
  text-align: center;
}

.cards .link {
  padding: 15px 22px 16px 25px;
  background: #f16d7f;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.cards .link:hover {
  background: #ed3e56;
}

.cards .link i {
  vertical-align: top;
  margin: 3px 0 0 4px;
}

.bottomBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.bottomBannerSignWrapp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 767px;
  background: url(../images/bottomBannerBg.jpg) no-repeat;
  padding-left: 40px;
}

.bottomBannerSign {
  color: #fff;
  font-weight: bold;
}

.bottomBannerSignTop {
  font-size: 54px;
}

.bottomBannerSignTopRight {
  color: #f16d7f;
}

.bottomBannerSignBottom {
  font-size: 32px;
}

.bottomBannerContent {
  width: 373px;
  background: #222224;
  padding: 50px 40px 60px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bottomBannerDetail {
  padding-left: 80px;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 53px;
}

.bottomBannerDetail_delivery {
  background-image: url(../images/bottomBannerDetailDelivery.png);
}

.bottomBannerDetail_sales {
  background-image: url(../images/bottomBannerDetailSales.png);
}

.bottomBannerDetail_quality {
  background-image: url(../images/bottomBannerDetailQuality.png);
  margin-bottom: 0;
}

.bottomBannerDetailHeading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 13px;
}

.bottomBannerDetailText {
  line-height: 160%;
  font-weight: 300;
  font-size: 14px;
}

.subscribe-wrapp {
  height: 438px;
  background: url(../images/subscribe__bg.jpg) no-repeat center;
}

.subscribe-wrapp .container {
  height: inherit;
}

.subscribe__review-wrapp {
  width: 50%;
  border-right: 1px solid #fff;
  padding-right: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__photo {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin-right: 28px;
  display: block;
}

.subscribe__text {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin: 0 0 19px;
}

.subscribe__name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.subscribe__desc {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.subscribe__dotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 41px 0 0 114px;
}

.subscribe__dote {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  float: left;
  margin: 0 13px 13px 0;
  cursor: pointer;
}

.subscribe__dote .subscribe__dote_act {
  background-color: #f16d7f;
}

.subscribe__form-wrapp {
  width: 50%;
  padding-left: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__form {
  text-align: center;
}

.subscribe__caption {
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribe__form-desc {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 40px;
}

.subscribe__input-wrapp {
  height: 46px;
  border-radius: 23px;
  overflow: hidden;
}

.subscribe__input {
  outline: none;
  border-radius: 23px 0 0 23px;
  border: 0;
  width: 270px;
  background-color: #e1e1e1;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__btn {
  cursor: pointer;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0 30px;
  width: 124px;
  background-color: #f16d7f;
  font-size: 14px;
  line-height: 46px;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.subscribe__btn:hover {
  background-color: #ed3e56;
}

/* --I N D E X */
/* ++F O O T E R */
.footer {
  padding: 100px 0 0;
}

.footer__logo-column {
  width: 427px;
}

.footer__logo {
  width: 167px;
  line-height: 52px;
  background: url(../images/logo.png) no-repeat;
  font-size: 27px;
  font-weight: 300;
  padding-left: 75px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__logo-symbol {
  color: #f16d7f;
}

.footer__text {
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 25px;
}

.footer__caption {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 38px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list-elm {
  margin-bottom: 30px;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #898989;
}

.copyright {
  margin-top: 100px;
  background-color: #e6e6e6;
  padding: 25px 0;
}

.copyright__text {
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.copyright__social-link {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: 10px;
  color: #7a7a7a;
}

.copyright__social-link:hover {
  background-color: #f16d7f;
  color: #fff;
}

.copyright__social-icon {
  vertical-align: top;
  margin: 8px 0 0;
}

/* --F O O T E R */
/* ++S H O P P I N G - C A R T */
.newArrivalsWrap {
  background-color: #f8f3f4;
  height: 148px;
  margin-bottom: 90px;
}

.newArrivalsWrap_margin0 {
  margin: 0;
}

.main-caption {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs__ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__li {
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  list-style-type: none;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #636363;
}

.breadcrumbs__link.breadcrumbs__link_act {
  font-weight: 700;
  color: #f16d7f;
}

.product-list {
  margin-bottom: 50px;
}

.product-list__wrapp {
  margin-bottom: 70px;
}

.product-list__tr {
  border-bottom: 1px solid #eaeaea;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-list__td {
  padding: 20px 0 25px;
  text-align: center;
}

.product-list__td:first-child {
  width: 40%;
  text-align: left;
}

.product-list__td:nth-child(2) {
  width: 13%;
}

.product-list__td:nth-child(3) {
  width: 12%;
}

.product-list__td:nth-child(4) {
  width: 11%;
}

.product-list__td:nth-child(5) {
  width: 10%;
}

.product-list__td:nth-child(6) {
  width: 5%;
}

.product-list__td .product-list__td_th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  border: none;
  padding: 0 0 15px;
}

.product-list__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list__details-inner {
  padding: 10px 0 0;
}

.product-list__details-caption {
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 40px;
}

.product-list__details-desc {
  margin: 0 0 5px;
  font-size: 13px;
  line-height: 20px;
  color: #575757;
  font-weight: 300;
}

.product-list__details-desc-name {
  font-weight: 400;
  color: #6f6e6e;
  margin-right: 5px;
}

.product-list__photo {
  margin-right: 20px;
}

.product-list__text {
  font-size: 13px;
  line-height: 20px;
  color: #656565;
}

.product-list__quantity {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  color: #656565;
  width: 54px;
  padding: 4px 7px;
}

.product-list__delete {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #c0c0c0;
}

.product-list__delete:hover {
  color: #747474;
}

.product-list__btn {
  border: 1px solid #eaeaea;
  padding: 15px 40px;
  text-decoration: none;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.order {
  margin-bottom: 77px;
}

.order__column {
  width: 33.333%;
}

.order__column-inner {
  background-color: #f5f3f3;
  padding: 37px 35px 35px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order__column:nth-child(1) {
  padding: 0 18px 0 0;
}

.order__column:nth-child(2) {
  padding: 0 9px;
}

.order__column:nth-child(3) {
  padding: 0 0 0 18px;
}

.order__caption {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 20px;
}

.order__text {
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 23px;
}

.order__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding: 13px 17px;
  margin-bottom: 18px;
  display: block;
  width: 100%;
}

.order__btn {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  padding: 10px 15px;
  cursor: pointer;
  background: #fff;
}

.order__btn-checkout {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 42px;
  display: block;
  text-decoration: none;
  background-color: #f16d7f;
}

.order__btn-checkout:hover {
  background-color: #ed3e56;
}

.order__sub-total {
  margin-bottom: 14px;
  font-size: 11px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: right;
}

.order__sub-total-text {
  margin-right: 20px;
}

.order__grand-total {
  text-align: right;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding: 0 0 22px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 17px;
}

.order__grand-total-text {
  color: #222222;
  margin-right: 20px;
}

/* --S H O P P I N G - C A R T */
/* ++S I N G L E - P A G E */
.cart-detail__wrap {
  margin: 0 0 110px;
}

.cart-detail__slider {
  position: relative;
}

.cart-detail__arrow {
  position: absolute;
  z-index: 5;
  top: 350px;
  width: 47px;
  height: 47px;
  line-height: 47px;
  background: #d8d8d8;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.cart-detail__arrow:hover {
  background-color: #8c8c8c;
}

.cart-detail__arrow_left {
  left: 0;
}

.cart-detail__arrow_right {
  right: 0;
}

.cart-detail__img {
  max-width: 100%;
  max-height: 100%;
}

.cart-detail__img-wrap {
  background: #f7f7f7;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  height: 777px;
}

.cart-detail__inner {
  padding: 70px 260px 120px;
  margin: -85px 0 0;
  border: 1px solid #eaeaea;
  background: #fff;
  position: relative;
  z-index: 6;
  text-align: center;
}

.cart-detail__caption {
  color: #4d4d4d;
  margin: 0 0 55px;
  text-align: center;
  font-weight: 900;
}

.cart-detail__caption-top {
  font-weight: bold;
  color: #f16d7f;
  padding: 0 0 13px;
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  margin: 0 0 15px;
}

.cart-detail__caption-top:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  background: #ef5b70;
  width: 63px;
}

.cart-detail__desc {
  color: #5e5e5e;
  line-height: 180%;
  margin: 0 0 19px;
}

.cart-detail__feature {
  color: #b9b9b9;
  padding: 0 28px 32px;
  font-weight: bold;
}

.cart-detail__feature-val {
  color: #2f2f2f;
}

.cart-detail__cost {
  font-size: 24px;
  color: #ef5b70;
  font-weight: bold;
  margin: 0 0 55px;
  padding: 0 0 45px;
  border-bottom: 1px solid #eaeaea;
}

.cart-detail__options-wrap {
  width: 537px;
  margin: 0 auto;
}

.cart-detail__option {
  padding: 0 0 28px;
  text-align: left;
  width: 28%;
}

.cart-detail__option-key {
  font-weight: bold;
  color: #2f2f2f;
  margin: 0 0 15px;
}

.cart-detail__option-select {
  border: 1px solid #eaeaea;
  padding: 7px 15px;
  width: 100%;
  outline: none;
}

.cart-detail__option-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.cart-detail__option-input {
  padding: 7px 15px 8px;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 100%;
}

.cart-detail__btn {
  padding: 12px 10px;
  border: 1px solid #ef5b70;
  cursor: pointer;
  color: #ef5b70;
  font-weight: bold;
}

.cart-detail__btn-text {
  vertical-align: middle;
}

.cart-detail__btn:before {
  content: "";
  background: url(../images/cart-detail-btn.png) no-repeat;
  width: 26px;
  height: 24px;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}

/* --S I N G L E - P A G E */
/*# sourceMappingURL=style.css.map */